numpy
pandas
pypdf
ollama
openai
langchain_openai
fastapi
uvicorn
sse_starlette
faiss-cpu
streamlit
chromadb
groq
langchain-groq
sentence-transformers
langchain-google-genai
python-dotenv
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
pymupdf
python-multipart
